body {
    background-color: rgba(185, 169, 123, 0.29);
}

.indent {
    margin-left: 100px;
    background-color:palevioletred;
    padding: 10px;
}

.indent > ul {
    list-style: square;
}

.indent li {
    text-decoration-line: underline;
    padding: 4px;
}



.menu {
    display: flex;
    font-size: large;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(239, 231, 201, 1);
}