body {
    background-color: rgba(185, 169, 123, 0.29);
}

.indent {
    margin-left: 500px;
    margin-right: 500px;
    padding: 10px;
}

.indent > ul {
    list-style: square;
}

.indent li {
    text-decoration-line: underline;
    padding: 4px;
}

h1 {
    text-align: center;
  }

.Gauche {
    margin-right: 1100px;
    border-right-style: groove;
    border-radius: 10px;
    border-color: rgba(78, 78, 78, 0.29);
    border-width: 15px;
}
    
.Droit{
    margin-left: 1100px;
    border-left-style: groove;
    border-radius: 10px;
    border-color: rgba(78, 78, 78, 0.29);
    border-width: 15px;
}
  
.BoîteDescription{
    background-color: rgba(238, 238, 238, 1);
    margin-left: 700px;
    margin-right: 700px;
    border-style: groove;
    border-radius: 10px;
}

.BoîteResumé{
    background-color: rgba(238, 238, 238, 1);
    margin-left: 500px;
    margin-right: 500px;
    border-style: groove;
    margin-top: 50px;
    border-radius: 10px;
}

.BarreDeTache{
    background-color: rgba(238, 238, 238, 1);
    
}





  
  