body {
    background-color: rgba(185, 169, 123, 0.29);
}

.indent {
    margin-left: 500px;
    margin-right: 500px;
    padding: 10px;
}

.indent > ul {
    list-style: square;
}

.indent li {
    text-decoration-line: underline;
    padding: 4px;
}

h1 {
    text-align: center;
  }
/*c'est pour toute les boîte de texte sur la gauche*/
.Gauche {
    margin-right: 1100px;
    border-right-style: groove;
    border-radius: 10px;
    border-color: rgba(78, 78, 78, 0.29);
    border-width: 15px;
}
/*c'est pour toute les boîte de texte sur la Droite*/
.Droit{
    margin-left: 1100px;
    border-left-style: groove;
    border-radius: 10px;
    border-color: rgba(78, 78, 78, 0.29);
    border-width: 15px;
}
/*c'est pour les boîte de texte au milieu dans la page a propos*/  
.BoîteDescription{
    background-color: rgba(238, 238, 238, 1);
    margin-left: 700px;
    margin-right: 700px;
    border-style: groove;
    border-radius: 10px;
}
/*c'est pour les boîte de texte au milieu dans la page a propos*/  
.BoîteResumé{
    background-color: rgba(238, 238, 238, 1);
    margin-left: 500px;
    margin-right: 500px;
    border-style: groove;
    margin-top: 50px;
    border-radius: 10px;
}

.BarreDeTache{
    background-color: rgba(238, 238, 238, 1);
       border-bottom-style: solid;
       border-width: 1px;
       border-color: rgba(78, 78, 78, 0.29);
       
       
}
/*couleur des nom dans la page a propos*/
.Jérémy{
    color: rgba(129, 26, 26, 1);
}

.Francis{
    color: rgba(21, 70, 26, 1);
}

.Audrey{
    color: rgba(31, 46, 125, 1);
}
/*Pour l'option recherche dans la barre des taches*/
.Recherche{
    text-indent: 50px;
}

/*Pour l'option a propos dans la barre des taches*/
.Apropos{
    text-indent: 625px;
}

/*Pour retourner à la page d'accueil*/
.Titre{
    text-indent: 770px;
}

/*Pour l'option de la page contact*/
.Profil{
    text-indent: 50px;
}
  
  